div {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  input,
  select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-512.png") no-repeat right center;
    background-size: 12px;
    padding-right: 25px;
  }
.votar{
    margin-top: 1rem;
}
